.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding: 0;
	border: none;
	box-shadow: none;
	background-color: transparent;
}

.small .icon {
	width: 20px;
	height: 20px;
}

.medium .icon {
	width: 24px;
	height: 24px;
}
