.main_container {
	padding: 18px 20px;
}

.title {
	font-size: 24px;
	font-family: "Proxima Nova";
	font-weight: 700;
	line-height: 39px;
	color: #17181a;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 18px;
	padding: 16px 150px;
	background-color: #fff;
	border-radius: 10px;
}

.form_item {
	width: 100%;
	margin-bottom: 20px;

	:global(.ant-form-item-label) {
		padding-bottom: 4px;
	}
}

.labels {
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 15px !important;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	color: #17181a;
}

.sublabel {
	margin-bottom: 5px;
	padding: 0;
	font-size: 14px;
	font-family: "Proxima Nova";
	font-weight: 500;
	line-height: 125%;
	color: #707070;
}

.advanced_options_collapse {
	width: 100%;

	:global(.ant-collapse-header) {
		padding-inline: 0 !important;
	}

	:global(.ant-collapse-header-text) {
		font-size: 15px !important;
		font-family: "Proxima Nova";
		font-style: normal;
		font-weight: 700;
		line-height: 30px;
		color: rgb(80, 158, 227);
	}

	:global(.ant-collapse-content-box) {
		padding-inline: 0 !important;
		padding-bottom: 0 !important;
	}
}

.submit_button {
	align-self: center;
	width: 350px;
	height: 50px;
	margin-top: 30px;
}
