.button {
	box-shadow: none;
	width: 100%;
	background: #fff;
	border: 1px solid #d9e1e7;
	border-radius: 8px;
	font-family: "Proxima Nova";
	font-weight: 700;
	line-height: 125%;
}

.default_main {
	border: 1px solid #d9e1e7 !important;
	color: #809fb8;
}

.default_main:hover {
	background-color: #809fb8 !important;
	border: 1px solid #809fb8 !important;
	color: white !important;
}

.default_error {
	border: 1px solid #f47690;
	color: #ea3a3d;
}

.default_error:hover {
	background-color: #ea3a3d !important;
	border: 1px solid #ea3a3d !important;
	color: white !important;
}

.regular {
	height: 34px;
	font-size: 12px;
}

.large {
	height: 50px;
	font-size: 14px;
}
